* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: "Roboto";
  font-weight: 400;
  src: url("assets/fonts/roboto-regular-webfont.woff2") format("woff2"),
    url("assets/fonts/roboto-regular-webfont.woff") format("woff");
}
@font-face {
  font-family: "Roboto";
  font-weight: 300;
  src: url("assets/fonts/roboto-light-webfont.woff2") format("woff2"),
    url("assets/fonts/roboto-light-webfont.woff") format("woff");
}
@font-face {
  font-family: "Roboto";
  font-weight: 400;
  font-style: italic;
  src: url("assets/fonts/roboto-italic-webfont.woff2") format("woff2"),
    url("assets/fonts/roboto-italic-webfont.woff") format("woff");
}
@font-face {
  font-family: "Roboto";
  font-weight: 700;
  src: url("assets/fonts/roboto-bold-webfont.woff2") format("woff2"),
    url("assets/fonts/roboto-bold-webfont.woff") format("woff");
}

.screenshot-1 {
  background-color: red;
}
.screenshot-2 {
  background-color: rgb(125, 100, 192);
}
.screenshot-3 {
  background-color: rgb(100, 153, 21);
}
.screenshot-4 {
  background-color: rgb(226, 132, 148);
}
.screenshot-5 {
  background-color: rgb(206, 150, 47);
}
.screenshot-6 {
  background-color: var(--light-blue);
}

:root {
  --light-blue: rgb(113, 176, 216);
}

body {
  font-family: "Roboto", sans-serif, Arial, Helvetica;
  height: 100%;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

main {
  flex: 1;
}

.ashley {
  position: absolute;
  bottom: 0.4rem;
  font-size: 2.3rem;
  left: 50%;
  white-space: nowrap;
  transform: translateX(-50%);
}

.trapeze {
  clip-path: polygon(0 0, 100% 0%, 100% 50%, 0% 100%);
  background-color: var(--light-blue);
  height: 610px;
  box-shadow: 4px 4px 19px -3px rgba(66, 68, 90, 1);
}

header {
  position: absolute;
  justify-content: center;
  top: 0;
  left: 0;
  right: 0;
  color: black;
  margin: 3rem 5rem;
  display: flex;
  align-items: center;
}

.header-foto {
  width: 400px;
  height: auto;
  box-shadow: 4px 4px 19px -3px rgba(66, 68, 90, 1);
}

.profile {
  position: relative;
  text-align: center;
  color: white;
}

h1 {
  font-family: "Times New Roman", "Roboto", Times, serif;
  font-weight: lighter;
  font-size: 3rem;
  padding: 25px 0 20px 2rem;
}

.header-text {
  background-color: white;
  box-shadow: 4px 4px 19px -3px rgba(66, 68, 90, 1);
}

.header-p {
  padding: 0 2rem 4rem;
  font-size: 1.8rem;
  color: gray;
}

.project-header {
  display: flex;
  justify-content: space-between;
  padding: 1rem;
  font-weight: lighter;

}

.project-icons {
  display: flex;
  align-items: center;
  font-size: 1.5rem;
  gap: 1rem;
}

h1,
h2,
h3 {
  font-family: "Times New Roman", "Roboto", Times, serif;
}

h2 {
  font-family: "Times New Roman", "Roboto", Times, serif;
  font-size: 3rem;
  margin: 3rem 0 0 3rem;
  font-weight: lighter;
}

.project-grid {
  display: grid;
  grid-gap: 2rem;
  grid-template-columns: repeat(3, minmax(200px, 1fr));
  margin: 1rem 3rem 5rem;
}

.screenshot {
  font-family: "Times New Roman", "Roboto", Times, serif;
  padding: 5rem 2rem;
  text-align: center;
  font-size: 2.5rem;
  color: white;
}

.project {
  box-shadow: 4px 4px 19px -3px rgba(66, 68, 90, 1);
}

.project-title {
  font-size: 1.9rem;
  font-weight: lighter;
}

.project-text {
  color: gray;
  padding: 0 1rem 4rem;
  font-size: 1.3rem;
}

svg {
  width: 30px;
}

a {
  text-decoration: none;
  color: black;
}

.icons-header,
.icons-footer {
  display: flex;
  font-size: 2.5rem;
  gap: 20px;
}
.icons-header {
  margin: 0 40px 20px 0;
  justify-content: end;
}
.icons-footer {
  margin: 20px 0;
}

footer {
  background-color: var(--light-blue);
  color: white;
  display: flex;
  justify-content: center;
  gap: 3rem;
  padding: 4rem 5rem;
  align-items: center;
  font-size: 1.8rem;
}

.footer-foto {
  width: 800px;
  height: auto;
}

.footer-left {
  width: 550px;
}

.contact-me {
  font-size: 3rem;
  margin-bottom: 1.2rem;
}

.contact-flex {
  display: flex;
  gap: 1rem;
  margin: 0.3rem 0;
}

.adress-flex {
  margin: 1.2rem 0;
}

.email-logo,
.phone-logo {
  filter: brightness(0) saturate(100%) invert(100%) sepia(3%) saturate(791%)
    hue-rotate(230deg) brightness(116%) contrast(82%);
}

/* media queries */

@media (600px < width <= 800px) {
  .project-grid {
    grid-template-columns: repeat(2, minmax(200px, 1fr));
  }
}

@media (width <= 600px) {

}